<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.opensrp_thrivepk">

    <application
        android:name=".application.VaccinatorApplication"
        android:allowBackup="true">

        <activity android:name=".ThrivepkLoginActivity"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ThrivepkHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle"></activity>

        <activity
            android:name=".report.VaccineReport"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <receiver android:name=".application.CESyncReceiver" />

        <activity android:name=".ProviderProfileActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>