<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.opensrp_stock">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".field.FieldMonitorSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" />
    </application>

</manifest>
