<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.opensrp_ancare">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application  android:name=".application.VaccinatorApplication"
        android:allowBackup="true">
        <activity
            android:name=".AncLoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AncHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle"/>

        <receiver android:name=".application.CESyncReceiver" />

        <activity android:name=".ProviderProfileActivity"></activity>
    </application>

</manifest>
